<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="spool-demo.ZPM">
    <Module>
      <Name>spool-demo</Name>
      <Version>1.0.6</Version>
      <Description>Demo Code using SPOOL</Description>
      <Keywords>Terminal, COS</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="SpoolDemo.MAC"/>
    </Module>
  </Document>
</Export>
